<!DOCTYPE html>
    <html lang=“en” dir=“ltr”>
      <head>
        <meta charset=“utf-8”>
        <title>Cowan & Sons Art Print Inventory</title>
      </head>
      <body>
        <h1>Cowan & Sons Print Gallery</h1>
        <nav>
          <ul>
            <li>
              <a href="/artists">Artists</a>
            </li>
            <li>
              <a href="/prints">Prints</a>
            </li>
          </ul>
        </nav>
        <%= yield %>
      </body>
    </html>
