<!DOCTYPE html>
    <html lang=“en” dir=“ltr”>
      <head>
        <meta charset=“utf-8”>
        <title>Cowan & Sons Art Print Inventory</title>
          <link rel="stylesheet" href="/style.css">
      </head>
      <body>
        <nav>
          <ul>
            <li><a href="/"><img class="logo" src="/css_images/Cowan & Sons white text transparent.png" alt=""></a></li>
            <li>
              <h1><a href="/artists">Artists</a></h1>
            </li>
            <li>
              <h1><a href="/prints">Prints</a></h1>
            </li>
          </ul>
        </nav>
        <%= yield %>
      </body>
    </html>
