<form action="/prints" method="post">
  <label for="title">Title</label>
    <input id="title" type="text" name="title"/>
  <br>
  <br>
  <label for="description">Description</label>
    <input id="description" type="text" name="description"/>
  <br>
  <br>
  <!-- <label for="">Contact</label>
    <input id="contact" type="text" name="contact"/>
  <br>
  <br>
  <label for=""></label>
  <input type="text" name="" value=""> -->
  <input type="submit" value="Save Artist">
</form>
