<h1>EDIT ARTIST CONTACT DETAILS</h1>
<br>
<form method="post" action="/artists/<%= @artist.id %>">
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field"
  value="<%= @artist.first_name %>"
  />

  <label for="last-name-field">Last Name:</label>
  <input
  type="text"
  name="last_name"
  id="last-name-field"
  value="<%= @artist.last_name %>"
  />

  <label for="contact-field">Contact:</label>
  <input
  type="text"
  name="contact"
  id="contact-field"
  value="<%= @artist.contact %>"
  />

  <input type='submit' value="Edit Artist">
</form>
