<h1>ADD NEW ARTIST</h1>
<br>
<form action="/artists" method="post">
  <label for="first-name">First Name</label>
    <input id="first-name" type="text" name="first_name"/>
  <br>
  <br>
  <label for="last-name">Last Name</label>
    <input id="last-name" type="text" name="last_name"/>
  <br>
  <br>
  <label for="contact">Contact</label>
    <input id="contact" type="text" name="contact"/>
  <br>
  <input type="submit" value="Save Artist">
</form>
